# =========================
# Python
# =========================

__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.venv/
venv/
env/

# =========================
# Jupyter
# =========================

.ipynb_checkpoints/

# =========================
# Datasets
# =========================

datasets/*
!datasets/README.md

# =========================
# Trained Models
# =========================

*.pt
*.pth
*.onnx

# =========================
# Results
# =========================
runs/
results/*
!results/.gitkeep

# =========================
# IDE
# =========================

.vscode/
.idea/

# =========================
# Operating System
# =========================

.DS_Store
Thumbs.db